OPENAI_API_KEY=

GEMINI_API_KEY=
GEMINI_API_SECRET=

GEMINI_MODEL=gemini-3.1-pro-preview
NANO_BANANA_MODEL=gemini-3.1-flash-image-preview
VEO_MODEL=veo-3.1-generate-preview
GEMINI_TTS_MODEL=gemini-3.1-flash-tts-preview

KLINGAI_API_KEY=
KLINGAI_API_SECRET=

KLINGAI_VIDEO_MODEL=kling-video-o1
